{% extends "base.html" %}
{% block title %}Signed Out {% endblock %}

{% block content %}


<div class="col-12">
    <body style="background-color:powderblue;">
    <center>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
	<h3>You are signed out!</h3>
	<p>You have been successfully logged out of your account.</p>
	<p>
		<a class="btn btn-success btn-lg" href="login"><i class="fa fa-user"></i> Log in again</a>
	</p>
</center>
</body>
</div>



<!-- <body style="background-color:powderblue;">
    <center>
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <p>You are signed out!</p>
    </center>
</body> -->


{% endblock %}