{% extends 'partials/base.html' %}
{%block title %} Home Page {% endblock %}


{% block content %}

{% if user.is_authenticated and user.is_staff and user.is_superuser %}
{%  include 'partials/topside.html' %}
 <!--Graphs-->
 <!-- <div class="container">
    <div class="row my-5">
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart1" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart1').getContext('2d');
                    var myChart1 = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: [{% for order in orders %}'{{ order.product.name }}', {% endfor %}],
                            datasets: [{
                                label: 'Orders',
                                data: [{% for order in orders %} {{ order.order_quantity}}, {% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: 'Products',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div> -->
<!--End Graphs-->
<style>
    footer {
  position: absolute;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background: #000000;
  padding-block: 1rem;
  z-index: 1000;
}
footer h3 {
  color: #00bbff;
}
footer a{
  color: #e5ff00;
}  

</style>
<footer>
    <h3 class="name">© 2023 Copyright:-<a href="mailto:karthikeyaguruju@gmail.com">karthikeyaguruju</a></h3>
</footer>
{% else %}
{% include 'dashboard/staff_index.html' %}
{% endif %}
{% endblock %}